#base {
  background: url("background.jpg");
  background-size: 125%;
  background-position: -400px 0px;
}
@font-face {
  font-family: "Arista"; /*a name to be used later*/
  src: url("Arista-Pro-Alternate-Regular.ttf"); /*URL to font*/
}
#header {
  font-family: "Arista";
  display: inline-block;
  margin-bottom: 5px;
  height: 10%;
  width: 100%;
  position: relative;
  border-radius: 5px 5px;
}
#heading {
  text-shadow: 4px 4px 10px #ffffff;
  margin-top: 2px;
  padding-top: 5px;
  padding-left: 5px;
  color: rgba(57, 77, 84, 255);
  font-family: "Arista";
  font-size: 400%;
  text-align: center;
}
h2 {
  text-shadow: 4px 4px 10px #ffffff;
  font-family: "Arista";
}
#backBlock {
  display: flex;
  flex-wrap: no-wrap;
  margin-top: 5px;
  height: 88%;
  width: 100%;
  position: relative;
}
form#createContainer {
  margin-top: -20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 70%;
  font-size: 18px;
  border-radius: 10px;
  border: 1px soid rgba (255, 255, 255, 0.3);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
  color: rgb(0, 0, 0);
}

form#listContainer {
  background-color: rgba(255, 255, 255, 0.5);
  width: 70%;
  font-size: 18px;
  border-radius: 10px;
  border: 1px soid rgba (255, 255, 255, 0.3);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
  color: rgb(0, 0, 0);
  padding: auto;
}
form#deleteContainer {
  margin-top: -25px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 70%;
  font-size: 18px;
  border-radius: 10px;
  border: 1px soid rgba (255, 255, 255, 0.3);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
  color: rgb(0, 0, 0);
}
form#createImage {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 70%;
  font-size: 18px;
  border-radius: 10px;
  border: 1px soid rgba (255, 255, 255, 0.3);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
  color: rgb(0, 0, 0);
}
form#deleteImage {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 70%;
  font-size: 18px;
  border-radius: 10px;
  border: 1px soid rgba (255, 255, 255, 0.3);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
  color: rgb(0, 0, 0);
}
/*h2 {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}*/
.ioBox {
  width: 50%;
  height: 400px;
  float: left;
  margin: 5px 5px 5px 5px;
}
#outputBox {
  overflow-y: scroll !important;
  background-color: rgb(252, 249, 249, 0.5);
  display: block;
  border-radius: 0.8%;
  border-radius: 5px 5px;
  box-shadow: 0px 7px 12px rgb(21 20 20);
  border: 2px solid rgba(39, 38, 38, 0.342);
  margin-top: -22px;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  box-shadow: 2px 2px 15px;
}
#createContainerButton {
  width: 200px;
  padding: 7px;
  font-size: 16px;
  font-family: "Arista";
  font-weight: 600;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.705);
  box-shadow: 1px 1px 5px rgba (0, 0, 0, 0.3);
  margin-bottom: 20px;
  transition-duration: 0.4s;
}
#createContainerButton:hover {
  width: 200px;
  padding: 7px;
  font-size: 16px;
  font-family: "Arista";
  font-weight: 600;
  border-radius: 3px;
  display: inline-block;
  background-color: rgba(57, 77, 84, 255);
  color: #fff;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.705);
  box-shadow: 1px 1px 5px rgba (0, 0, 0, 0.3);
  margin-bottom: 20px;
}
#listContainerButton {
  width: 60%;
  padding: 10px;
  font-size: 25px;
  text-align: mach-parent;
  display: inline-block;
  font-family: "Arista";
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.705);
  box-shadow: 1px 1px 5px rgba (0, 0, 0, 0.3);
  margin-bottom: 20px;
  transition-duration: 0.4s;
}
#listContainerButton:hover {
  width: 60%;
  padding: 10px;
  font-size: 25px;
  text-align: mach-parent;
  display: inline-block;
  font-family: "Arista";
  font-weight: 500;
  border-radius: 3px;
  background-color: rgba(57, 77, 84, 255);
  color: #fff;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.705);
  box-shadow: 1px 1px 5px rgba (0, 0, 0, 0.3);
  margin-bottom: 20px;
}
#deleteContainerButton {
  padding: 3px 4px;
  font-size: 15px;
  display: inline-block;
  font-family: "Arista";
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.705);
  box-shadow: 1px 1px 5px rgba (0, 0, 0, 0.3);
  margin-bottom: 20px;
  transition-duration: 0.4s;
}

#deleteContainerButton:hover {
  padding: 3px 4px;
  font-size: 15px;
  display: inline-block;
  font-family: "Arista";
  font-weight: 500;
  border-radius: 3px;
  background-color: rgba(57, 77, 84, 255);
  color: #fff;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.705);
  box-shadow: 1px 1px 5px rgba (0, 0, 0, 0.3);
  margin-bottom: 20px;
}
#createImageButton {
  width: 200px;
  padding: 7px;
  font-size: 20px;
  font-family: "Arista";
  font-weight: 600;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.705);
  box-shadow: 1px 1px 5px rgba (0, 0, 0, 0.3);
  margin-bottom: 20px;
  transition-duration: 0.4s;
}

#createImageButton:hover {
  width: 200px;
  padding: 7px;
  font-size: 20px;
  font-family: "Arista";
  font-weight: 600;
  border-radius: 3px;
  display: inline-block;
  background-color: rgba(57, 77, 84, 255);
  color: #fff;
  cursor: pointer;
  /* rgba (0, 0, 0, 0.705); */
  box-shadow: 1px 1px 5px;
  /* rgba (0,0,0,0.3); */
  margin-bottom: 20px;
  background-color: rgba(57, 77, 84, 255); /* Green */
  border: 2px solid rgba(57, 77, 84, 255);
  color: white;
}
.ioBox {
  width: 50%;
  /* height: auto; */
  float: left;
  margin: 5px 5px 5px 5px;
}
#formArea {
  height: auto;
  display: inline-block;
  background-color: rebeccapurple;
  /* flex-wrap: wrap; */
}
/* #outputBox {
  overflow-y: scroll !important;
  background-color: green;
  display: block;
  border-radius: 0.8%;
} */
#outputBox {
  overflow-y: scroll !important;
  background-color: rgb(252, 249, 249, 0.5);
  display: block;
  border-radius: 0.8%;
  border-radius: 5px 5px;
  box-shadow: 0px 7px 12px rgb(21 20 20);
  border: 2px solid rgba(39, 38, 38, 0.342);
  margin-top: -22px;
}
#optionButtons {
  background-color: pink;
  display: flex;
  width: 100%;
  height: 8%;
}
#containerButton {
  display: inline-block;
  flex-wrap: nowrap;
  background-color: aqua;
  width: 50%;
  height: 95%;
  align-self: center;
}
#imageButton {
  background-color: saddlebrown;
  display: inline-block;
  flex-wrap: nowrap;
  width: 50%;
  height: 95%;
  align-self: center;
}
.container {
  display: block;
}
.image {
  display: none;
}
