#base{
  background-color: #fec0cb;
  padding: 8px 8px 8px 8px;
  height: 100%;
  width: 100%;
}
#header{
  background-color: palevioletred;
  display: inline-block;
  margin-bottom: 5px;
  height: 10%;
  width: 100%;
  position: relative;
  border-radius: 5px 5px;
  box-shadow: 7px 7px 12px grey ;
  }
#heading{
  margin-top: 2px;
  padding-top:5px;
  padding-left:5px;
  color:white;
  font-family: "Garamond";
  font-size: 400%;
  text-align: center;
}
#backBlock{
  display:flex;
  flex-wrap: no-wrap;
  margin-top: 5px;
  height: 88%;
  width: 100%;
  position: relative;
}
.ioBox{
  width: 50%;
  height: auto;
  float: left;
  margin: 5px 5px 5px 5px;
}
#outputBox{
  overflow-y: scroll !important;
  background-color: white;
  display: block;
  border-radius: .8%;
}
